.form__input-error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    top: 47px;
    left: 0;
}