.profile__btn_add {
    border: 2px solid #fff;
    height: 50px;
    width: 150px;
    background: url(../../../../images/btns/add-btn.svg) center no-repeat;
    margin-left: auto;
    cursor: pointer;
}

.profile__btn_add:focus {
    outline: none;
}

@media screen and (max-width: 740px){
    .profile__btn_add {
        width: 100%;
        margin: 0;
    }
}