.elements__item-like {
    height: 19px;
    width: 22px;
    background: url('../../../images/btns/like-btn.svg') center no-repeat;
    transition: opacity .2s ease;
    border: 0;
}

.elements__item-like:focus {
    outline: none;
}

.elements__item-like:hover {
    opacity: .5;
    cursor: pointer;
}